*{
    margin: 0;
    padding: 0;
}

.fondo{
    margin: 0;
    min-height: 100vh;
    background: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.fondo:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,blueviolet, blue);
    opacity: 0.9;
    z-index: -1;
}



.box-text{
    width:100%;
    overflow:hidden;
    padding:8px;
    margin:8px;
    font-size:20px;
    border-bottom: 2px solid white;
}
.box-text i{
    width:20px;
    float:left;
    text-align:center;
}

.box-text input{
    width: 80%;
    background:none;
    border:none;
    outline:none;
    font-size:18px;
    float:right;
    margin:0 10px;
    color:white;
    font-weight: bold;
}

.buton-login{
   margin-top: 12px;
}

.buton-login a{
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
}
.buton-login a:hover{
    font-weight: bold;
    color:white;
}

body{
    background: linear-gradient(90deg, black, green);
    background-size: cover;
}
.encabezado{
    font-size: 22px;
    color: white;
    background: black;
    padding: 12px;
    border-bottom: 1px solid violet;
}
.encabezado a{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    padding: 10px;
}
.encabezado a:hover{
    transform: scale(1.1);
    background: gray;
    font-weight: bold;
}

.encabezado:hover{
    border-bottom: 1px solid cyan;
}
.pie{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.box-log{
    height: 330px;
    width: 300px;
}
.text{
    margin-top: 42px;
}

.button{
    margin-top: 32px;
    margin-left: 85px;
} 
.nomest{
     width: 40%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: white;
}
.input-estadonombre{
    width: 60%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: black;
}
.caja-crear{
    margin-top: 80px;
    width: 515px;  
} 
.container-mostrar{
    margin-top: 100px;
    width: 65%;
}

.caja-product{
    border: 2px solid black;
    border-top:2px solid violet ; 
}

.caja-product:hover{
    border-top: 2px solid cyan;
}

.inp-product{
    padding: 2px;
    margin-bottom: 3px;
    margin-left: 8px;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.inp-product:hover{
    transform: scale(1.1);
}


.label-product{
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
    margin-bottom: 2px;
}

.button-product{
    margin-bottom: -8px;
    margin-top: 18px;
    margin-left:60px ;
}

.button-product:hover{
    transform: scale(1.1);
    font-weight: bold;
    font-size: 18px;
}

.button-GA{
    margin-bottom: -8px;
    margin-top: 18px;
    margin-left:30px ;
}

.button-GA:hover{
    transform: scale(1.1);
    font-weight: bold;
    font-size: 18px;
}