<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>

<div class="encabezado">
    Sistema Control Inventario
    <a href="index" class="btn btn-dark btn-sm ">Inicio</a>
    <a href="categorias?opcion=listar" class="btn btn-dark btn-sm ">Categoria</a>
    <a href="productos?opcion=listar" class="btn btn-dark btn-sm" >Producto</a>
</div>
